{% extends 'base.html' %}
{% block content %}
  <body style="margin-top: 100px;">
    <div
      class="container my-4"
      style="
        border: 2px solid rgb(59, 59, 99);
        border-radius: 20px;
        padding: 50px;
      "
    >
      <form action="{% url 'ask_question' %}" method="post">
        {% csrf_token %}
        <h3 class="text-center text-primary">Ask Question</h3>
        <div class="form-group">
          <label for="title">Problem</label>
          <input
            type="text"
            class="form-control"
            placeholder="your question"
            name="title"
            id="title"
          />
        </div>
        <div class="form-group">
            <label for="comment">details:</label>
            <textarea class="form-control" rows="5" placeholder="description for your problem" name="content" id="comment"></textarea>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Post Questions</button>
        </div>
      </form>
    </div>
  </body>
{% endblock %}