{% extends 'base.html' %}
{% block content %}

<section class="h-100 h-custom my-6" style="background-color: #eee;" >
  <div class="container h-100" style="margin-top:90px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Ask a Question
                </p>
                <form method="post" action="{% url 'ask_question' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="title">Problem</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="your question"
                      name="title"
                      id="title"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="comment">details:</label>
                    <textarea class="form-control" rows="5" placeholder="description for your problem" name="content" id="comment" required></textarea>
                  </div>   
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label for="image">upload Picture:</label>
                      <input type="file" name="image" id="image" /><br />
                    </div>
                  </div>              
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    {% comment %} <a class="btn btn-outline-dark" type="submit" >Ask Question</a> {% endcomment %}
                   <button class="btn btn-outline-dark" type="submit">Ask Question</button>
                  </div>
                  
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  
{% endblock %}
<body style="margin-top: 100px;">
  <div
    class="container my-4"
    style="
      border: 2px solid rgb(59, 59, 99);
      border-radius: 20px;
      padding: 50px;
    "
  >
    <form action="{% url 'ask_question' %}" method="post">
      {% csrf_token %}
      <h3 class="text-center text-primary">Ask Question</h3>
      <div class="form-group">
        <label for="title">Problem</label>
        <input
          type="text"
          class="form-control"
          placeholder="your question"
          name="title"
          id="title"
        />
      </div>
      <div class="form-group">
          <label for="comment">details:</label>
          <textarea class="form-control" rows="5" placeholder="description for your problem" name="content" id="comment"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Post Questions</button>
      </div>
    </form>
  </div>
</body>