{% extends 'base.html' %} {% load static %} {% block content %}
<section id="hero" class="hero">
  <img src="{% static 'assets/img/hero-bg.jfif' %}" alt="" data-aos="fade-in" />

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">
          Welcome to Stackoverflow
        </h2>
        <p data-aos="fade-up" data-aos-delay="200">
          Here are the solutions of your every problem
        </p>
      </div>
      <div class="col-lg-5">
        <form
          action="{% url 'search' %}"
          method="get"
          class="sign-up-form d-flex"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Enter question to search"
          />
          <input type="submit" class="btn btn-primary" value="search" />
        </form>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>
          Find the answers for the most frequently asked questions below
        </p>
      </div>
      <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i>  How do I find answers to my questions?</h6>
              <p>
                <strong><u>Absolutely!</u></strong> You can search for answers by using the search bar at the top of the page. Enter keywords related to your question, and relevant questions and answers will be displayed. Additionally, you can browse through different categories and tags to find questions and answers that match your interests.
              </p>
            </div>
        
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Can I edit or delete my questions or answers?</h6>
              <p>
                <strong><u>Yes, it is possible!</u></strong> Yes, you can edit your questions and answers by clicking on the "Edit" button located below the post's content. You can also delete your own posts using the "Delete" button. However, please note that once a post has received answers or engagement from other users, significant edits might impact the context of the conversation.
              </p>
            </div>
        
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> . How can I upvote or downvote questions and answers?
              </h6>
              <p>
                Registered users can upvote or downvote both questions and answers by clicking the respective arrows   
            </p>
            </div>
        
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> How can I ask a question on  stackoverflow?
              </h6>
              <p>
                To ask a question, log in to your account and click on the "Ask Question" button. Provide a clear and descriptive title for your question, add relevant tags, and provide detailed information in the question body. Click "Submit" to post your question. Other users can then view, answer, and comment on your question. </p>
            </div>
        
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> How do I create an account on stackoverflow?
              </h6>
              <p>To create an account, click on the "Sign Up" button on the homepage. You'll be prompted to provide your email address, username, and password. Once you submit the required information, an account activation link will be sent to your email. Click the link to activate your account and start using stackoverflow.</p>
            </div>
        
            <div class="col-md-6 col-lg-4 mb-4">
              <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>What is stackoverflow?</h6>
              <p>
                stackoverflow is a web application inspired by StackOverflow, designed to provide a platform where users can ask questions, share knowledge, and collaborate on various topics related to programming, technology, and more.
              </p>
            </div>
          </div>
        </div>

    
  <!--Section: FAQ-->
  </section>

{% endblock content %}
