{% extends 'base.html' %} {% block content %}
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="container py-5">
      <div class="container text-center">
        <a class="btn btn-outline-dark" href="{% url 'chat' %}">Random Chat</a>
        {% comment %} <a class="btn btn-outline-dark" href="{% url 'personel_chat' %}">Personel Chat</a> {% endcomment %}
        
        {% comment %} <a class="btn btn-outline-dark" href="#">Button</a> {% endcomment %}
      </div>
    <div class="row">
      <div class="">
        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              {% for user in users %} 
              <li class="p-2 border-bottom my-2" style="background-color: #eee">
                <a href="{% url 'chat_page' user.id %}" class="d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img
                      src="{{ user.image.url }}"
                      alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong"
                      width="60"
                    />
                    <div class="pt-1">
                      <p class="fw-bold mb-0">{{ user.user }}</p>
                      <p class="small text-muted">{{ user.phone }}</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">Just now</p>
                    <span class="badge bg-danger float-end">1</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
