{% extends 'base.html' %}
{% block content %}
{% if answers %}
  <body>
    <section id="faq" class="faq">
      <div class="container" style="margin-top: 100px;">  
          <div class="" data-aos="fade-up" data-aos-delay="200">  
            <div class="faq-container">
              {% for answers in answers %}
              <div class="faq-item faq-active">
                <a href=""> <h3><span class="num"></span> <span>{{ answers.question.title }}</span></h3></a>
                <div class="faq-content">
                  <p>{{ answers.question.content }}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div> 
              {% endfor %} 
            </div>  
          </div>
        </div>  
      </div>    
    </section>
    {% else %}
    <p style="margin-top: 100px;">
        no answers posted yet...
  </p>
    {% endif %}

  </body>
  {% endblock content %}
