{% extends 'base.html' %}
{% block content %}
{% if question_asked %}
  <body>
    <section id="faq" class="faq">
      <div class="container" style="margin-top: 100px;">  
          <div class="" data-aos="fade-up" data-aos-delay="200">  
            <div class="faq-container">
              {% for question in question_asked %}
              <div class="faq-item faq-active">
                <a href="{% url 'detail' question.id %}"> <h3><span class="num"></span> <span>{{ question.title }}</span></h3></a>
                <div class="faq-content">
                  <p>{{ question.content }}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div> 
              {% endfor %} 
              {% include "app/includes/paginator.html" %}
            </div>  
          </div>
        </div>  
      </div>    
    </section>

    {% else %}
    <p style="margin-top: 100px;">
        no liked post yet ...
  </p>
    {% endif %}

  </body>
  {% endblock content %}
